<!-- ### COLORS ### -->

<section class="section">

  <h2 class="toolkit__headline">Colors</h2>

  <section class="subsection">
    <code>config/_variables.scss</code>
  </section>

</section>

<!-- ## CONTENT ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Content</h3>

  <section class="subsection toolkit__colors-wrapper">
    <span class="toolkit__color-box toolkit__color-box--primary text--light">Primary color</span>
    <span class="toolkit__color-box toolkit__color-box--secondary text--light">Secondary color</span>
    <span class="toolkit__color-box toolkit__color-box--tertiary text--light">Tertiary color</span>
  </section>

</section>

<!-- ## GRAYS ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Grays</h3>

  <section class="subsection toolkit__colors-wrapper">
    <span class="toolkit__color-box toolkit__color-box--trueblack text--light">True black</span>
    <span class="toolkit__color-box toolkit__color-box--black text--light">Black</span>
    <span class="toolkit__color-box toolkit__color-box--white text--black">White</span>
    <span class="toolkit__color-box toolkit__color-box--truewhite text--black">True white</span>
  </section>

  <section class="subsection toolkit__colors-wrapper">
    <span class="toolkit__color-box toolkit__color-box--darkergray text--light">Darker gray</span>
    <span class="toolkit__color-box toolkit__color-box--darkgray text--light">Dark gray</span>
    <span class="toolkit__color-box toolkit__color-box--gray text--light">Gray</span>
    <span class="toolkit__color-box toolkit__color-box--lightgray text--dark">Light gray</span>
    <span class="toolkit__color-box toolkit__color-box--lightergray text--dark">Lighter gray</span>
  </section>

</section>

<!-- ## NOTIFICATIONS ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Notifications</h3>

  <section class="subsection toolkit__colors-wrapper">
    <span class="toolkit__color-box toolkit__color-box--info text--light">Info color</span>
    <span class="toolkit__color-box toolkit__color-box--success text--light">Success color</span>
    <span class="toolkit__color-box toolkit__color-box--warning text--light">Warning color</span>
    <span class="toolkit__color-box toolkit__color-box--alert text--light">Alert color</span>
  </section>

</section>
