<!-- ### COOKIES ### -->

<section class="section">

  <h2 class="toolkit__headline">Cookies</h2>

  <section class="subsection">
    <pre><code>
      vendors/_bamboolab_cookies.scss
    </code></pre>
  </section>

</section>

<!-- ##  ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Fixed bottom</h3>

  <div class="toolkit__cookies-wrapper wrapper">

    <div class="cookies__wraper"><div class="cookies__info">Web sjedište koristi kolačiće za pružanje boljeg korisničkog iskustva i funkcionalnosti stranice.</div><div class="cookies__action"><a class="btn btn--cookies">OK</a><a class="link link__cookies" target="_blank" href="http://www.aboutcookies.org/">Saznaj više</a></div></div>

  </div>

</section>
