<!-- ### GRID ### -->

<section class="section">

  <h2 class="toolkit__headline">Grid</h2>

  <section class="subsection">
    <pre><code>
      layout/_grid.scss
    </code></pre>
  </section>

  <section class="subsection relative">
    <code>
      <xmp>
        <div class="grid grid--12">
          <div class="section section__wrap--12">
            <p class="text--center">section--12</p>
          </div>
        </div>
      </xmp>
      <%= inline_svg "icons/copy.svg", class:"copy_to_clipboard" %>
    </code>
  </section>

</section>

<div class="grid grid--12">
  <div class="section section__wrap--12">
    <p class="text--center">section--12</p>
  </div>
</div>

<div class="grid grid--12">
  <div class="section section__wrap--10">
    <p class="text--center">section--10</p>
  </div>
  <div class="section section__wrap--2">
    <p class="text--center">section--2</p>
  </div>
</div>

<div class="grid grid--12">
  <div class="section section__wrap--2">
    <p class="text--center">section--2</p>
  </div>
  <div class="section section__wrap--10">
    <p class="text--center">section--10</p>
  </div>
</div>

<div class="grid grid--12">
  <div class="section section__wrap--8">
    <p class="text--center">section--8</p>
  </div>
  <div class="section section__wrap--4">
    <p class="text--center">section--4</p>
  </div>
</div>


<div class="grid grid--12">
  <div class="section section__wrap--4">
    <p class="text--center">section--4</p>
  </div>
  <div class="section section__wrap--8">
    <p class="text--center">section--8</p>
  </div>
</div>


<div class="grid grid--12">
  <div class="section section__wrap--6">
    <p class="text--center">section--6</p>
  </div>
  <div class="section section__wrap--6">
    <p class="text--center">section--6</p>
  </div>
</div>
