<?xml version="1.0" encoding="UTF-8"?>
<svg width="22px" height="26px" viewBox="0 0 22 26" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 52.5 (67469) - http://www.bohemiancoding.com/sketch -->
    <title><%= ext.downcase %></title>
    <desc>Created with Sketch.</desc>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="000-Styleguide" transform="translate(-491.000000, -2400.000000)">
            <g id="<%= ext.downcase %>" transform="translate(492.000000, 2401.000000)">
                <polyline id="Path" stroke="#444444" stroke-width="2" points="12.7272727 0 12.7272727 6.54545455 19.2727273 6.54545455"></polyline>
                <polyline id="Path" stroke="#444444" stroke-width="2" stroke-linecap="square" points="19.2727273 11.4545455 19.2727273 6.54545455 12.7272727 0 0.727272727 0 0.727272727 11.4545455"></polyline>
                <polyline id="Path" stroke="#444444" stroke-width="2" stroke-linecap="square" points="0.727272727 21.2727273 0.727272727 24 19.2727273 24 19.2727273 21.2727273"></polyline>
                <text id="<%= ext.upcase %>" font-family="PalanquinDark-Regular, Palanquin Dark" font-size="6" font-weight="normal" fill="#444444">
                    <tspan x="4.612" y="18.5"><%= ext.upcase %></tspan>
                </text>
            </g>
        </g>
    </g>
</svg>