<h2><%= t('pages_nav.contact') %></h2>
<p>
  Adresa<br>
  Trg Vatroslava Lisinskog 11<br>
  31000 Osijek, Hrvatska<br>
  Telefon
</p>
<p><%= link_to '+385 (0)31 229 181', 'tel:+38531229181' %></p>
<p>E-mail
  <%= mail_to 'info@starapekara.eu', 'info@starapekara.eu' %>
</p>
