<div class="news-section">
    <h1 class="news-section__title" ><%= t('pages_nav.posts') %></h1>

    <div class="news">
        <%= image_tag @post.image_url(:medium) %>

      <div class="news-text">
        <div class="news-text__divider">
          <h2 class="news-text__title">Come and see the violence inherent in the system. Help! Help! I'm being repressed! What is the capital of Assyria?</h2>
          <p class="news-text__paragraph">
            Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.
          </p>
        </div>



        <p class="news-text__paragraph">
          <%= post_timestamp(@post.publish_at) %>
        </p>

      </div>
    </div>
    <div class="more-button">
      <%= link_to t('post.see_other_posts'), posts_path, class: 'section__button' %>
    </div>
</div>
