<div class="errors-wrapper">
  <%= inline_svg "icons/x2_black.svg" %>
  <h1 class="text--center"><%= t('text500') %></h1>
  <p class="text--center"><%= t('error_bottom_text') %> <%= link_to t('our_homepage'), root_path, class: 'link' %>!</p>
</div>
