<div class="sortable sortable--col-3" data-url="<%= sort_admin_legal_pages_path %>">
	<% legal_pages.each do |legal_page| %>
		<div class="sortable-item" id="<%= dom_id(legal_page)%>"><%= render 'admin/legal_pages/legal_page', legal_page: legal_page %></div>
	<% end %>
</div>