about {
    padding: 60px 0;
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    grid-row-gap: 24px;
    // grid-template-columns: repeat(12, calc(100% / 12));
    grid-template-columns: repeat(17, calc(100% / 17));
  
    &__title {
      display: grid;
      justify-content: center;
      align-items: center;
      // grid-column: span 6/10;
      grid-column: span 3/11;
      grid-row-gap: 16px;
  
      @include section-title-medium;
    }
  
    &__text {
      display: grid;
      justify-content: center;
      align-items: center;
      // grid-column: span 8/11;
      grid-column: span 9/14;
      grid-row-gap: 16px;
  
      color: #000;
      font-family: Source Sans Pro;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 160%; /* 28.8px */
  
      .accordion {
        &__item {
          margin: 0;
        }
      }
    }
  }

  .read-more__button {
    cursor: pointer;
    color: $belize-hole;
    text-align: left;
    margin: 0;
  }

  .read-more {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: center;
    align-items: center;
  }
  
  .about-gallery {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column: span 9/14;
    grid-column-gap: 24px;
  
    &__image {
      // width: 100%;
      // height: 100%;
  
      width: 220px;
      height: 220px;
      position: relative;
      display: inline-block;
      grid-template-rows: 1fr 1fr;
      display: grid;
  
      img {
        // width: 100%;
        // height: 200%;
  
        width: 220px;
        height: 220px;
        object-fit: cover;
      }
  
      &--blue-filter::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #0077ae80;
      }
    }
  }
  .about-gallery__image:nth-child(4) {
    cursor: pointer;
  }
  .image-number {
    color: #FFF;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .gallery {
    &__image {
      &--invisible {
        display: none;
      }
    }
  }
