/*------------------------------------*\
** FOOTER
\*------------------------------------*/

.footer {}



/*------------------------------------*\
** COPYRIGHT
\*------------------------------------*/

.copyright {
  background: none;
  color: $black;
  text-align: center;
}


// CREATE A STICKY FOOTER WITH FLEXBOX
