/* STICKY HEADER */

.sticky-header.sticky-header--down {
	transform: translateY(-100%);
	transition: transform 0.3s;
	background-color: $white--true;
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
	box-shadow: none;
}

.sticky-header.sticky-header--up {
	transform: translateY(0);
	transition: transform 0.3s;
	background-color: $white--true;
	box-shadow: 0 1px 10px 0 rgba(22,22,22,0.1);
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}

.sticky-header {
	position: fixed;
	top: 0;
	z-index: 1;
	background-color: transparent;
	box-shadow: none;
	transition: all 0.3s;
}