<div id="posts" class="posts-wrapper">
  <% posts.each do |post| %>
  <div class="news">

    <%= image_tag post.image_url(:medium) %>

    
      <div class="news-text">
        <div class="news-text__divider">
          <%= link_to post_path(post) do %> 
            <h2 class="news-text__title">Come and see the violence inherent in the system. Help! Help! I'm being repressed! What is the capital of Assyria?</h2>
            <% end %>
            <p class="news-text__paragraph">
             Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.
          </p>
        </div>
        <%= post_timestamp(post.publish_at) %>
    </div>

  </div>

  <% end %>
  <%= paginate posts, class: 'pagination' %>


</div>
