<div class="post">
    <% content_for :title, "#{AppInfo.name} | #{@post.title.truncate(40, divider:" ")}" %>
    <% content_for :og_title, "#{@post.resolve_seo_title}" %>
    <% content_for :image, "#{request.base_url}#{@post.resolve_seo_image}" %>
    <% content_for :author, AppInfo.name  %>
    <% content_for :type, 'article' %>
    <% content_for :keywords, @post.seo_keywords %>
    <% content_for :description, @post.resolve_seo_description %>
    <% content_for :edit_link, admin_post_path(@post) %>
    <% content_for :edit_meta_tags_link, admin_post_path(@post, tab: 2) %>

    <div class="post-header">
        <div class="post-header__title">
            <h1>Come and see the violence inherent in the system. Help! Help! I'm being repressed! What is the capital of Assyria?</h1>
            <p>
                <%= post_timestamp(@post.publish_at) %>
            </p>
        </div>

        <%= image_tag @post.image_url(:large) %>
    </div>



    <article class="post__article">
        <p>I'm Brian, and so's my wife! The Lady of the Lake, her arm clad in the purest shimmering samite held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. THAT is why I am your king. I don't want to talk to you no more, you empty-headed animal food trough wiper! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Are you suggesting coconuts migrate?</p>
        <p>Come and see the violence inherent in the system. Help! Help! I'm being repressed! What is the capital of Assyria? Oh, king eh? Very nice. And how'd you get that, eh? By exploiting the workers. By hanging on to outdated imperialist dogma which perpetuates the economic and social differences in our society.</p>
        <p>Oh, oh, I see! Running away, eh? You yellow bastards! Come back here and take what's coming to you! I'll bite your legs off! Listen, strange women lyin' in ponds distributin' swords is no basis for a system of government. Supreme executive power derives from a mandate from the masses, not from some farcical aquatic ceremony.</p>
    </article>
</div>