<!-- ### BUTTONS ### -->

<section class="section">

  <h2 class="toolkit__headline">Buttons</h2>

  <section class="subsection">
    <pre><code>
      modules/_buttons.scss
    </code></pre>
  </section>

</section>

<!-- ## GRAYSCALE ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Grayscale</h3>

  <div class="wrapper">

    <button class="btn btn--white">White button</button>
    <button class="btn btn--gray">Gray button</button>
    <button class="btn btn--black">Black button</button>

  </div>

</section>

<!-- ## PRIMARY / SECONDARY / TERTIARY ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Primary / Secondary / Tertiary</h3>

  <div class="wrapper">

    <button class="btn btn--primary">Primary button</button>
    <button class="btn btn--primary--light">Primary light button</button>
    <button class="btn btn--secondary">Secondary button</button>
    <button class="btn btn--tertiary">Tertiary button</button>

  </div>

</section>

<!-- ## SMALL / LARGE ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Small / Large</h3>

  <div class="wrapper">

    <button class="btn btn--priumary btn--small">Small button</button>
    <button class="btn btn--secondary btn--large">Large button</button>

  </div>

</section>

<!-- ## FULL WIDTH ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Full width</h3>

  <div class="wrapper">

    <button class="btn btn--full">Full width button</button>

  </div>

</section>

<!-- ## GHOST ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Ghost</h3>

  <div class="wrapper">

    <button class="btn btn--ghost">Ghost button</button>

  </div>

</section>

<!-- ## UNDERLINE ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Underline</h3>

  <div class="wrapper">

    <button class="btn btn--underline">Underline button</button>

  </div>

</section>

<!-- ## ARROW ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Arrow</h3>

  <div class="wrapper">

    <button class="btn btn--primary btn--arrow">Arrow button</button>

  </div>

</section>

<!-- ## DISABLED ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Disabled</h3>

  <div class="wrapper">

    <button class="btn btn--primary btn--disabled">Disabled button</button>

  </div>

</section>

<!-- ## ICON BUTTONS ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Icons</h3>

  <div class="wrapper">

    <button class="btn btn__icon btn--like">Like button</button>
    <button class="btn btn__icon btn--add">Add button</button>
    <button class="btn btn__icon btn--mail">Mail button</button>
    <button class="btn btn__icon btn--download">Download button</button>
    <button class="btn btn__icon btn--play">Play button</button>

  </div>

</section>

<!-- ## UTILITY BUTTONS ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Utility</h3>

  <div class="wrapper">

    <button class="btn btn--create">Create</button>
    <button class="btn btn--update">Update</button>
    <button class="btn btn--remove">Remove</button>

  </div>

</section>

<!-- ## BUTTON GROUP ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Button group</h3>

  <div class="wrapper">

    <div class="btn-group">
      <button class="btn btn--primary">Primary button</button>
      <button class="btn btn--secondary">Secondary button</button>
      <button class="btn btn--tertiary">Tertiary button</button>
    </div>

  </div>

</section>


