<!-- ### TYPOGRAPHY ### -->

<section class="section">

  <h2 class="toolkit__headline">Typography</h2>

  <section class="subsection">
    <pre><code>
      base/_typography.scss
    </code></pre>
  </section>

</section>

<!-- ## FONT WEIGHTS ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Font Weights</h3>

  <div class="wrapper">
    <p class="text--light text--limiter">300 Are you suggesting coconuts migrate?</p>
    <p class="text--regular text--limiter">400 Are you suggesting coconuts migrate?</p>
    <p class="text--medium text--limiter">500 Are you suggesting coconuts migrate?</p>
    <p class="text--semibold text--limiter">600 Are you suggesting coconuts migrate?</p>
    <p class="text--bold text--limiter">700 Are you suggesting coconuts migrate?</p>
    <p class="text--extrabold text--limiter">800 Are you suggesting coconuts migrate?</p>
    <p class="text--heavy text--limiter">900 Are you suggesting coconuts migrate?</p>
  </div>

</section>

<!-- ##  ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Copy</h3>

  <div class="wrapper">

    <p class="text--limiter">What is the capital of Assyria? The Lady of the Lake, her arm clad in the purest shimmering samite held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. THAT is why I am your king.</p>

  </div>

</section>

<!-- ## ARTICLE ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Article</h3>

  <div class="wrapper">
    <article class="article">
      <h1>You don't vote for kings.</h1>
      <p>Shut up! Will you shut up?! Well, she turned me into a newt. The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.</p>
      <p>Oh, ow! <strong> Did you dress her up like this?</strong> <em> But you are dressed as one… What do you mean?</em> Well, how'd you become king, then?</p>
      <h2>What a strange person.</h2>
      <p>Well, how'd you become king, then? On second thoughts, let's not go there. It is a silly place. Bloody Peasant! Well, we did do the nose.</p>
      <ol>
      <li>Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed!</li><li>Shut up!</li><li>He hasn't got shit all over him.</li>
      </ol>
      
      <h3>Why?</h3>
      <p>We want a shrubbery!! The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.</p>
      <ul>
      <li>We found them.</li><li>We want a shrubbery!!</li><li>Well, she turned me into a newt.</li>
      </ul>
      
      <p>Did you dress her up like this? I don't want to talk to you no more, you empty-headed animal food trough water! I fart in your general direction! Your mother was a hamster and your father smelt of elderberries! Now leave before I am forced to taunt you a second time!</p>
      <p>Did you dress her up like this? Burn her anyway! Well, how'd you become king, then? Bloody Peasant! Burn her!</p>
      <p>You can't expect to wield supreme power just 'cause some watery tart threw a sword at you! Oh! Come and see the violence inherent in the system! Help, help, I'm being repressed! Oh, ow! Ni! Ni! Ni! Ni!</p>
      <p>Shut up! Knights of Ni, we are but simple travelers who seek the enchanter who lives beyond these woods. The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.</p>
      <p>Now, look here, my good man. And the hat. She's a witch! Well, I got better. Who's that then? The Lady of the Lake, her arm clad in the purest shimmering samite, held aloft Excalibur from the bosom of the water, signifying by divine providence that I, Arthur, was to carry Excalibur. That is why I am your king.</p>
      <p>The Knights Who Say Ni demand a sacrifice! Well, how'd you become king, then? Ni! Ni! Ni! Ni! Why?</p>
      <p>And this isn't my nose. This is a false one. Oh, ow! Well, we did do the nose. Be quiet! Why do you think that she is a witch?</p>
      <p>Well, what do you want? I have to push the pram a lot. Burn her! Well, how'd you become king, then? It's only a model. She looks like one.</p>
      <p>He hasn't got shit all over him. But you are dressed as one… Be quiet! She looks like one. Bring her forward!</p>
      <p>It's only a model. Bring her forward! Well, I got better. Camelot!</p>
      <p>Burn her! You don't frighten us, English pig-dogs! Go and boil your bottoms, sons of a silly person! I blow my nose at you, so-called Ah-thoor Keeng, you and all your silly English K-n-n-n-n-n-n-n-niggits!</p>
    </article>
  </div>

</section>

<!-- ##  ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Headings</h3>

  <div class="wrapper">

    <h1>Heading h1</h1>
    <h2>Heading h2</h2>
    <h3>Heading h3</h3>
    <h4>Heading h4</h4>
    <h5>Heading h5</h5>
    <h6>Heading h6</h6>

  </div>

</section>

<!-- ##  ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Lists</h3>

  <div class="wrapper">



  </div>

</section>

<!-- ##  ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Links</h3>

  <div class="wrapper">



  </div>

</section>

<!-- ##  ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Code</h3>

  <div class="wrapper">



  </div>

</section>

<!-- ##  ## -->

<section class="section">

  <h3 class="toolkit__subheadline">Blockquote</h3>

  <div class="wrapper">



  </div>

</section>
