<div class="header" id="home">
    <div class="header-title">
        <%= image_tag 'logo.svg' %>
        <h1 class="header-title__title">Stara Pekara</h1>
        <p class="header-title__paragraph">Edukativni i informativni turistiÄki centar mladih</p>
    </div>


    <div class="header__button">
        <svg class="nav-button__svg" width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M31.6522 14.2921H6.21397L21.4395 0.629214C21.683 0.408989 21.5352 0 21.2134 0H17.3657C17.1962 0 17.0353 0.0629211 16.9092 0.175281L0.479388 14.9124C0.32891 15.0472 0.208227 15.2139 0.125516 15.4012C0.0428058 15.5884 0 15.7919 0 15.9978C0 16.2036 0.0428058 16.4071 0.125516 16.5943C0.208227 16.7816 0.32891 16.9483 0.479388 17.0831L17.0049 31.9101C17.0701 31.9685 17.1484 32 17.231 32H21.2091C21.5308 32 21.6786 31.5865 21.4352 31.3708L6.21397 17.7079H31.6522C31.8435 17.7079 32 17.5461 32 17.3483V14.6517C32 14.4539 31.8435 14.2921 31.6522 14.2921Z" fill="white"/>
        </svg>
    </div>
</div>

